In [7]:
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import numpy as np

## An end to end scikit learn workflow

In [8]:
heart_disease=pd.read_csv("heart-disease.csv")
heart_disease

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,57,0,0,140,241,0,1,123,1,0.2,1,0,3,0
299,45,1,3,110,264,0,1,132,0,1.2,1,0,3,0
300,68,1,0,144,193,1,1,141,0,3.4,1,2,3,0
301,57,1,0,130,131,0,1,115,1,1.2,1,1,3,0
302,57,0,1,130,236,0,0,174,0,0.0,1,1,2,0

In [9]:
# import warnings
# warnings.filterwarnings("ignore")
#warnings.filterwarnings("default")

In [10]:
#1. create X (features matrix)
X=heart_disease.drop("target",axis=1)
#create Y (labels)
y=heart_disease["target"]

In [11]:
#2.choose the right model and hyperparameters
from sklearn.ensemble import RandomForestClassifier
clf =  RandomForestClassifier()
# we will keep the default hyperparameters
clf.get_params();

In [12]:
#3. Fit the modelto the training data 
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2)

In [13]:
clf.fit(X_train,y_train)

RandomForestClassifier()

In [14]:
X_train[:5],X_test[:5]

(     age  sex  cp  trestbps  chol  fbs  restecg  thalach  exang  oldpeak  \
 233   64    1   0       120   246    0        0       96      1      2.2
 75    55    0   1       135   250    0        0      161      0      1.4
 238   77    1   0       125   304    0        0      162      1      0.0
 267   49    1   2       118   149    0        0      126      0      0.8
 222   65    1   3       138   282    1        0      174      0      1.4

      slope  ca  thal
 233      0   1     2
 75       1   0     2
 238      2   3     2
 267      2   3     2
 222      1   1     2  ,
      age  sex  cp  trestbps  chol  fbs  restecg  thalach  exang  oldpeak  \
 231   57    1   0       165   289    1        0      124      0      1.0
 275   52    1   0       125   212    0        1      168      0      1.0
 269   56    1   0       130   283    1        0      103      1      1.6
 191   58    1   0       128   216    0        0      131      1      2.2
 82    60    0   2       102   318    0        1      160      0      0.0

      slope  ca  thal
 231      1   3     3
 275      2   2     3
 269      0   0     3
 191      1   3     3
 82       2   1     2  )

In [15]:
# make a prediction
y_label = clf.predict(np.array([0,1,2,3,4]))

D:\Conda_Pro_\env\lib\site-packages\sklearn\base.py:464: UserWarning: X does not have valid feature names, but RandomForestClassifier was fitted with feature names
  warnings.warn(

ValueError: Expected 2D array, got 1D array instead:
array=[0. 1. 2. 3. 4.].
Reshape your data either using array.reshape(-1, 1) if your data has a single feature or array.reshape(1, -1) if it contains a single sample.

In [16]:
y_preds= clf.predict(X_test)
y_preds

array([0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 1, 0, 1, 0, 1, 0, 0, 1, 1, 1, 1, 0,
       0, 1, 0, 1, 1, 0, 1, 1, 1, 1, 1, 0, 1, 1, 0, 0, 0, 1, 0, 1, 1, 0,
       1, 0, 1, 1, 1, 1, 0, 0, 0, 1, 1, 1, 1, 0, 1, 0, 1], dtype=int64)

In [17]:
#4. Evaluate the model
clf.score(X_train,y_train)

0.9958677685950413

In [18]:
clf.score(X_test,y_test)

0.8360655737704918

In [19]:
from sklearn.metrics import classification_report,confusion_matrix,accuracy_score
print(classification_report(y_test,y_preds))

              precision    recall  f1-score   support

           0       0.93      0.76      0.83        33
           1       0.76      0.93      0.84        28

    accuracy                           0.84        61
   macro avg       0.85      0.84      0.84        61
weighted avg       0.85      0.84      0.84        61

In [20]:
#5. Improve the metal
# try differnt amount of n_estimators
np.random.seed(42)
for i in range(10,100,10):
    print(f"Trying model with {i} estimators")
    clf=RandomForestClassifier(n_estimators =i).fit(X_train,y_train)
    print(f"Model accuracy on test set : {clf.score(X_test,y_test)*100}")

Trying model with 10 estimators
Model accuracy on test set : 80.32786885245902
Trying model with 20 estimators
Model accuracy on test set : 86.88524590163934
Trying model with 30 estimators
Model accuracy on test set : 83.60655737704919
Trying model with 40 estimators
Model accuracy on test set : 81.9672131147541
Trying model with 50 estimators
Model accuracy on test set : 85.24590163934425
Trying model with 60 estimators
Model accuracy on test set : 83.60655737704919
Trying model with 70 estimators
Model accuracy on test set : 85.24590163934425
Trying model with 80 estimators
Model accuracy on test set : 83.60655737704919
Trying model with 90 estimators
Model accuracy on test set : 85.24590163934425

In [21]:
#6. Save a model and load it
import pickle

pickle.dump(clf,open("random_forestmodel1.pkl","wb"))

In [22]:
load_model=pickle.load(open("random_forestmodel1.pkl","rb"))
load_model.score(X_test,y_test)

0.8524590163934426

## Getting our data ready
* split the data into features and labels(X,y)
* filling (imputing) or disregarding the missing values
* converting non-numerical values to numericals (feature encoding)

In [23]:
heart_disease.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1

### 1.1Make sure its all numerical

In [25]:
car_sales=pd.read_csv("car-sales-extended.csv")
car_sales.head()

     Make Colour  Odometer (KM)  Doors  Price
0   Honda  White          35431      4  15323
1     BMW   Blue         192714      5  19943
2   Honda  White          84714      4  28343
3  Toyota  White         154365      4  13434
4  Nissan   Blue         181577      3  14043

In [26]:
X=car_sales.drop("Price",axis=1)
y=car_sales["Price"]

In [27]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2)

In [28]:
from sklearn.ensemble import RandomForestRegressor
mod =  RandomForestRegressor()
# we will keep the default hyperparameters
mod.get_params();

In [29]:
mod.fit(X_train,y_train)

ValueError: could not convert string to float: 'Honda'

In [30]:
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer
cate_features=["Make","Colour","Doors"]
one_hot= OneHotEncoder()
transformer=ColumnTransformer([("one_hot",one_hot,cate_features)], remainder="passthrough")
transformed_X=transformer.fit_transform(X)
transformed_X

array([[0.00000e+00, 1.00000e+00, 0.00000e+00, ..., 1.00000e+00,
        0.00000e+00, 3.54310e+04],
       [1.00000e+00, 0.00000e+00, 0.00000e+00, ..., 0.00000e+00,
        1.00000e+00, 1.92714e+05],
       [0.00000e+00, 1.00000e+00, 0.00000e+00, ..., 1.00000e+00,
        0.00000e+00, 8.47140e+04],
       ...,
       [0.00000e+00, 0.00000e+00, 1.00000e+00, ..., 1.00000e+00,
        0.00000e+00, 6.66040e+04],
       [0.00000e+00, 1.00000e+00, 0.00000e+00, ..., 1.00000e+00,
        0.00000e+00, 2.15883e+05],
       [0.00000e+00, 0.00000e+00, 0.00000e+00, ..., 1.00000e+00,
        0.00000e+00, 2.48360e+05]])

In [31]:
pd.DataFrame(transformed_X)

      0    1    2    3    4    5    6    7    8    9    10   11        12
0    0.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0  1.0  0.0   35431.0
1    1.0  0.0  0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0  1.0  192714.0
2    0.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0  1.0  0.0   84714.0
3    0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0  1.0  0.0  1.0  0.0  154365.0
4    0.0  0.0  1.0  0.0  0.0  1.0  0.0  0.0  0.0  1.0  0.0  0.0  181577.0
..   ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...       ...
995  0.0  0.0  0.0  1.0  1.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0   35820.0
996  0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0  1.0  1.0  0.0  0.0  155144.0
997  0.0  0.0  1.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0  1.0  0.0   66604.0
998  0.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0  1.0  0.0  215883.0
999  0.0  0.0  0.0  1.0  0.0  1.0  0.0  0.0  0.0  0.0  1.0  0.0  248360.0

[1000 rows x 13 columns]

In [32]:
dummies = pd.get_dummies(car_sales[["Make",'Colour',"Doors"]])
dummies

,Doors,Make_BMW,Make_Honda,Make_Nissan,Make_Toyota,Colour_Black,Colour_Blue,Colour_Green,Colour_Red,Colour_White
0,4,False,True,False,False,False,False,False,False,True
1,5,True,False,False,False,False,True,False,False,False
2,4,False,True,False,False,False,False,False,False,True
3,4,False,False,False,True,False,False,False,False,True
4,3,False,False,True,False,False,True,False,False,False
...,...,...,...,...,...,...,...,...,...,...
995,4,False,False,False,True,True,False,False,False,False
996,3,False,False,True,False,False,False,False,False,True
997,4,False,False,True,False,False,True,False,False,False
998,4,False,True,False,False,False,False,False,False,True
999,4,False,False,False,True,False,True,False,False,False

In [33]:
# let's refit the model
np.random.seed(42)
X_train,X_test,y_train,y_test=train_test_split(transformed_X,y,test_size=0.2)
mod.fit(X_train,y_train)

RandomForestRegressor()

In [34]:
mod.score(X_test,y_test)

0.3235867221569877

### 1.2 What if there were missing values?
* Fill them with some values (also known as impuation)  
* remove the samples with the missing data altogether

In [35]:
car_sales_missing=pd.read_csv("car-sales-extended-missing-data.csv")
car_sales_missing

       Make Colour  Odometer (KM)  Doors    Price
0     Honda  White        35431.0    4.0  15323.0
1       BMW   Blue       192714.0    5.0  19943.0
2     Honda  White        84714.0    4.0  28343.0
3    Toyota  White       154365.0    4.0  13434.0
4    Nissan   Blue       181577.0    3.0  14043.0
..      ...    ...            ...    ...      ...
995  Toyota  Black        35820.0    4.0  32042.0
996     NaN  White       155144.0    3.0   5716.0
997  Nissan   Blue        66604.0    4.0  31570.0
998   Honda  White       215883.0    4.0   4001.0
999  Toyota   Blue       248360.0    4.0  12732.0

[1000 rows x 5 columns]

In [36]:
car_sales_missing.isna().sum()

Make             49
Colour           50
Odometer (KM)    50
Doors            50
Price            50
dtype: int64

In [38]:
car_sales_missing["Make"].fillna("missing",inplace=True)
car_sales_missing["Colour"].fillna("missing",inplace=True)
car_sales_missing["Doors"].fillna(4,inplace=True)
car_sales_missing["Odometer (KM)"].fillna(car_sales_missing["Odometer (KM)"].mean(),inplace=True)

In [39]:
car_sales_missing.isna().sum()

Make              0
Colour            0
Odometer (KM)     0
Doors             0
Price            50
dtype: int64

In [40]:
# Removes the row with missing Price Value
car_sales_missing.dropna(inplace=True)

In [41]:
car_sales_missing.isna().sum()

Make             0
Colour           0
Odometer (KM)    0
Doors            0
Price            0
dtype: int64

In [42]:
X=car_sales_missing.drop("Price",axis=1)
y=car_sales_missing["Price"]

In [43]:
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer
cate_features=["Make","Colour","Doors"]
one_hot= OneHotEncoder()
transformer=ColumnTransformer([("one_hot",one_hot,cate_features)], remainder="passthrough")
transformed_X=transformer.fit_transform(X)
transformed_X

<950x15 sparse matrix of type '<class 'numpy.float64'>'
	with 3800 stored elements in Compressed Sparse Row format>

## 2. Fill missing values using scikit learn

Make             0
Colour           0
Odometer (KM)    0
Doors            0
Price            0
dtype: int64

In [45]:
car_sales_missing=pd.read_csv("car-sales-extended-missing-data.csv")
car_sales_missing

       Make Colour  Odometer (KM)  Doors    Price
0     Honda  White        35431.0    4.0  15323.0
1       BMW   Blue       192714.0    5.0  19943.0
2     Honda  White        84714.0    4.0  28343.0
3    Toyota  White       154365.0    4.0  13434.0
4    Nissan   Blue       181577.0    3.0  14043.0
..      ...    ...            ...    ...      ...
995  Toyota  Black        35820.0    4.0  32042.0
996     NaN  White       155144.0    3.0   5716.0
997  Nissan   Blue        66604.0    4.0  31570.0
998   Honda  White       215883.0    4.0   4001.0
999  Toyota   Blue       248360.0    4.0  12732.0

[1000 rows x 5 columns]

In [46]:
car_sales_missing.isna().sum()

Make             49
Colour           50
Odometer (KM)    50
Doors            50
Price            50
dtype: int64

In [47]:
X=car_sales_missing.drop("Price",axis=1)
y=car_sales_missing["Price"]
# Splitting into X and y

In [49]:
# fill missing values with scikit learn
from sklearn.compose import ColumnTransformer
from sklearn.impute import SimpleImputer